@keyframes y-carousel-view {
  0% {
    transform: translateY(30%);
  }
  10% {
    transform: translateY(30%);
  }
  55% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(30%);
  }
}
@keyframes x-carousel-view {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  55% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes hero-anim {
  0% {
    background-image: url("/images/hero-anim/1.png");
    transform: translateY(0%);
  }
  20% {
    transform: translateY(0%);
  }
  25% {
    background-image: url("/images/hero-anim/1.png");
    transform: translateY(100%);
  }
  25.5% {
    background-image: url("/images/hero-anim/2.png");
    transform: translateY(100%);
  }
  30% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(0%);
  }
  75% {
    background-image: url("/images/hero-anim/2.png");
    transform: translateY(100%);
  }
  75.5% {
    background-image: url("/images/hero-anim/1.png");
    transform: translateY(100%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    background-image: url("/images/hero-anim/1.png");
  }
}
